root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace: true

# Markdown do not trmming
[*.{markdown,md}]
trim_trailing_whitespace: false
indent_size = 2

# Python line lenght limit to 79
[*.py]
max_line_length = 79

# Web Development
[*.{js,jsx,ts,coffee,css,scss,sass,json,cson}]
indent_size = 2

# Markup Language
[*.{pug,html,yml,yaml,toml}]
indent_size = 2

# iOS Development
[{Podfile,Cartfile,Fastfile,AppFile}]
indent_size = 2

# Makefiles use tab
[Makefile]
indent_style = tab

# Batch files use tabs
[*.bat]
indent_style = tab
