*.py[cod]
*.RData
*.sw[op]
*~
*.log
*.db
*.sqilte
*.sqilte3

__pycache__
.DS_Store

node_modules
npm-debug.log

build


#-------------------
# XCode, iOS dev
#-------------------
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspacedata
xcuserdata
DerivedData
Pods
Carthage
Podfile.lock
