*.py[cod]
*.RData
*.sw[op]
*~
*.log
*.db
*.sqilte
*.sqilte3

__pycache__
.DS_Store

node_modules
npm-debug.log


#-------------------
# XCode, iOS dev
#-------------------
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspacedata
Podfile.lock
xcuserdata
Pods
build
