*.py[cod]
*.RData
*.sw[op]
*~
*.db
*.sqilte
*.sqilte3

__pycache__
.DS_Store

__debug_bin

node_modules

# local ignore file for ripgrep
/.ignore

#-------------------
# Editor
#-------------------
.vscode
.idea
