themes {
    gruvbox-light {
        fg "#654735"
        bg "#f2e5bc"
        black "#bdae93"
        red "#c14a4a"
        green "#6c782e"
        yellow "#c35e0a"
        blue "#45707a"
        magenta "#945e80"
        cyan "#4c7a5d"
        white "#654735"
        orange 214 93 14
    }
    gruvbox-dark {
        fg "#d4be98"
        bg "#282828"
        black "#665c54"
        red "#ea6962"
        green "#a9b665"
        yellow "#e78a4e"
        blue "#7daea3"
        magenta "#d3869b"
        cyan "#89b482"
        white "#d4be98"
        orange 214 93 14
    }
}
